body {
  font-family: "Times New Roman", serif;
  background-color: green;
  text-align: center;
}

h1, h2 {
  color: black;
}

p{
  font-size: 18px;
  color: orange;
}

nav ol li{
  font-family: Arial, sans-serif;
  background-color: red;
  margin: 0;
  padding: 0;
}
